{% extends 'base.html' %}


{% block title %} 错误 - 500 {% endblock title %}

{% block x %}<br><br><br><br><br>

<div class="row">
    <div class="col-md-6"><br><br><br><br><br>
        <h1  class="float-right"><b>内部服务器错误</b><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a class="btn btn-primary" href="{{ url_for('index.index') }}">返回主页</a>
        </h1>

    </div>
    <div class="col-md-6">
        <img src="{{ url_for('static',filename='images/错误.png') }}" class="rounded img-fluid">
    </div>
</div></div><br><br><br><br><br>

{% endblock x %}