{% extends 'base.html' %}
{% from 'bootstrap/form.html' import render_form %}


{% block x %}<br>
    <div class="page-header" style="font-size: 80%">
    <h1 style="color:#fafafa">修改个人资料</h1>
    </div>

<div class="row">
        <div class="col-md-3">
            <div style="text-align:center" class="card w-100 bg-light">
                <h3 class="card-header">选项</h3>
                <div class="card-body">
                    <a href="{{ url_for('user.edit_user') }}"><b>更改资料</b></a><hr>
                    <a href="{{ url_for('user.change_password') }}"><b>更改密码</b></a><hr>
                    <a href="{{ url_for('photo.upload_avatar') }}"><b>更换头像</b></a><hr>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="card w-100 bg-light">
                <h3 class="card-header">编辑资料</h3>
                <div class="card-body">
                    {{ render_form(form) }}
                </div>
            </div>
        </div>
</div>


{% endblock x %}